body{
    background-color:white;
	font-family:"tribuchet MS", Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

#navegacao{
	border-bottom:1px solid rgb(186, 183, 183);
	background-color:black;
    font-size:18px;
	height:45px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}

#logo{
    float:left;
	margin:0 auto;
    color:white;
    font-size: 30px;
    font: bolder;
}

#area{
	text-decoration:none;
	padding-left: 20%;
    padding-right: 20%;
	margin:0 auto;
}

#menu{
    color:white;
    float:right;
	padding:10px 0;
}

#banner{
    float:left;
	margin-right:8px;
	margin-bottom:8px;
    width: 60%;
    height: 350px;
    padding-left: 20%;
    padding-right: 20%;
}

#conteudo-principal{
    padding-left: 20%;
    padding-right: 20%;
}

#footer{
    padding-left: 20%;
    padding-right: 20%;
}

.verde{
    color: green;
}